.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .popup {
      padding-top: 10px;;
      margin: 100px;
      display: block;
      text-align: center;
      background-color: #a3c3c9;
      width: 80%;
      height: 150px;
  }

  .close {
      margin-top: 10px;
      margin-right: 30px;
      color: #000;
  }

  
  