/* HeroSearch private styles */

#search-component, #search-result {
  width: 70%;
  margin: 50px auto;
  padding: 10px;
  overflow: hidden;
}

  #search-component > label {
    width: 100%;
    text-align: center;
    color: blue;
    font-size: 20px;
  }

  #search-component > input {
    display: block;
    width: 70%;
    margin: 0 auto;
    font-size: 24px;

  }
  
  input:focus {
    outline: #336699 auto 1px;
  }
  
  li {
    list-style-type: none;
  }
  .search-result li a {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    display: inline-block;
    width: 100%;
    max-width: 600px;
    padding: .5rem;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
  }
  
  .search-result li a:hover {
    background-color: #435A60;
    color: white;
  }
  
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }