<hr>
<h4> {{ 'multiSelectTemplating' | translate }}</h4>
<p-multiSelect  [options]="heroes" [(ngModel)]="selectedIHeroes"  defaultLabel="{{ 'selectHero' | translate }}" optionLabel="name" class="multiselect-custom">
  <ng-template pTemplate="header">
    <div class="hero-header">
      {{ 'headerContent' | translate }}
    </div>
  </ng-template>
  <ng-template pTemplate="selectedItems" let-hero>
    <div class="hero-item hero-item-value" *ngFor="let option of selectedIHeroes">
      {{option.id}}
      {{option.name}} 
    </div>
    <div *ngIf="!selectedIHeroes || selectedIHeroes.length === 0" class="hero-placeholder">
      {{ 'selectHero' | translate }} 
    </div>
  </ng-template>
  <ng-template let-hero pTemplate="item">
    <div class="hero-item">
    <div>
      {{hero.name}}
      {{hero.id}}
    </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="hero-footer">
      {{ 'footerContent' | translate }}
    </div>
  </ng-template>
</p-multiSelect>
  
<hr>