<div class="card" >
  <h3>{{ 'tableSort' | translate }}</h3>
  <p-table [value]="heroes">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">{{ 'id' | translate }}<p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name"> {{ 'name' | translate }} <p-sortIcon field="name"></p-sortIcon></th>
        <th>{{ 'delete' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-hero>
      <tr>
        <td>
          <a routerLink="/detail/{{hero.id}}">
            <span>{{hero.id}}</span>
          </a>
        </td>    
        <td>
          <a routerLink="/detail/{{hero.id}}">
            {{hero.name}}
          </a>
        </td>
        <td>
          <button type="button" title="delete hero"
            (click)="delete(hero)">x</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

