<div class="new">
  <button type="button" class="new_button" routerLink="/createPeople">
    {{ 'newPerson' | translate }}
  </button>
</div>

<p-table [value]="people">
  <ng-template pTemplate="header">
    <tr>
      <th>{{ 'editPerson' | translate }}</th>
      <th>{{ 'id' | translate }}</th>
      <th>{{ 'name' | translate }}</th>
      <th>{{ 'surname1' | translate }}</th>
      <th>{{ 'surname2' | translate }}</th>
      <th>{{ 'gender' | translate }}</th>
      <th>{{ 'birthDate' | translate }}</th>
      <th>{{ 'nif' | translate }}</th>
      <th>{{ 'lenguage' | translate }}</th>
      <th>{{ 'creationDate' | translate }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-person>
    <tr>
      <td> <p-button icon="pi pi-external-link"  routerLink="/person-detail/{{person.id}}"></p-button></td>
      <td>{{person.id}}</td>
      <td>{{person.name}}</td>
      <td>{{person.surname1}}</td>
      <td>{{person.surname2}}</td>
      <td>{{person.gender}}</td>
      <td>{{person.birthDate}}</td>
      <td>{{person.nif}}</td>
      <td>{{person.lenguage}}</td>
      <td>{{person.creationDate}}</td>
    </tr>
  </ng-template>
</p-table>
