h2 {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  text-align: center;
  margin-top : 50px;
  color: blue;
}

div {
  text-align: center;
  margin-bottom: 30px;
}



.list{
  text-align: center;

   .list ul{
     display: inline-block;

     list_heroes {
      margin: 0 0 2em 0;
      padding: 50;
      width: 15em;

      .list_heroes li {
        display: flex;
      }


      .list_heroes button {
        flex: 1;
        cursor: pointer;
        position: relative;
        left: 0;
        background-color: #EEE;
        margin: .5em;
        padding: 0;
        height: 1.6em;
        border-radius: 4px;
        display: flex;
        align-items: stretch;
        height: 1.8em;
      }
      
      .list_heroes button:hover {
        color: #2c3a41;
        background-color: #e6e6e6;
        left: .1em;
      }
      
      .list_heroes button:active {
        background-color: #525252;
        color: #fafafa;
      }
      
      .list_heroes button.selected {
        background-color: black;
        color: white;
      }
      
      .list_heroes button.selected:hover {
        background-color: #505050;
        color: white;
      }
      
      .list_heroes button.selected:active {
        background-color: black;
        color: white;
      }
    
      .list_heroes .badge {
        display: inline-block;
        font-size: small;
        color: white;
        padding: 0.8em 0.7em 0 0.7em;
        background-color: #405061;
        line-height: 1em;
        margin-right: .8em;
        border-radius: 4px 0 0 4px;
      }
      
      .list_heroes .name {
        align-self: center;
      }
    }
  }
}


  
  
  
  

  
  
  