
  <h2>My Heroes</h2>

  <p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Add Hero" ></p-button>
  <p-dialog  header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container">
      <form  #heroForm="ngForm">
        <div class ="form-group">
          <label for="heroName">
            Hero name: 
          </label>
          <input id="heroName"  type="text" class="form-control"  required [(ngModel)]="hero.name" name="heroName"  #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
            class="alert alert-danger">
            Name is required
          </div>
        </div>
        <button type="button" class="add-button" (click)="onClickAdd(hero.name)">
          Add hero
        </button>
      </form>
    </div>
  </p-dialog>
 
  <app-dropdown [(selectedHero)]="dropdown" [heroes]="heroes" (selectedHeroChange)="addNew($event)"></app-dropdown>
  
  <div>
    <p-table [value]="heroes">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Delete</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-hero>
        <tr>
          <td>
            <a routerLink="/detail/{{hero.id}}">
              <span>{{hero.id}}</span>
            </a>
          </td>    
          <td>
            <a routerLink="/detail/{{hero.id}}">
              {{hero.name}}
            </a>
          </td>
          <td>
            <button type="button" title="delete hero"
              (click)="delete(hero)">x</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  




 

  
<hr>



