h2 {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  text-align: center;
  margin-top : 50px;
  color: blue;
}




  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  
  
  :host ::ng-deep .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem; 
  }

  p {
    margin: 0;
  }

  .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .p-dialog .p-button {
    min-width: 6rem;
  }



  
  
  