
  <h2>My Heroes</h2>

  <p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Add Hero"></p-button>
  <p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container">
      <form  #heroForm="ngForm">
        <div class ="form-group">
          <label for="heroName">
            Hero name: 
          </label>
          <input id="heroName"  type="text" class="form-control"  required [(ngModel)]="hero.name" name="heroName"  #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
            class="alert alert-danger">
            Name is required
          </div>
        </div>
    
        <button type="button" class="add-button" (click)="onClickAdd(hero.name)">
          Add hero
        </button>
      </form>
    </div>
  </p-dialog>

  
  
 
   
   <p-dropdown [options]="heroes" [(ngModel)]="selectedHero" optionLabel="id" [showClear]="true" placeholder="Select a Hero">
      <ng-template pTemplate="selectedItem">
        <div *ngIf="selectedHero">
          <div>
            {{selectedHero.id}}
            {{selectedHero.name}}
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="item" let-hero>
          <div>
            {{hero.id}}
            {{hero.name}} 
          </div>
      </ng-template>
    </p-dropdown>
    
<hr>



