
  <h2>My Heroes</h2>

  <button (click)="openModal()" type="button" class="btn btn-outline-secondary me-2" placement="bottom"
    ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on bottom">
    Add Hero
  </button>
  
  <div class="" *ngIf="modalSwitch == true">
    <app-addheroe></app-addheroe>
  </div>

  
<div class="list">
  <ul class="list_heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
      <button type="button" class="list_heroes_delete" title="delete hero"
        (click)="delete(hero)">x</button>
    </li>
  </ul>
</div>



<hr>



