.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; 
  }
  
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; 
}

h2 {
  color: blue;
  margin-bottom: 30px;
  text-align:left;
}

.container {
  width: 700px;
  padding: 20px;
}

.form-group {
  width: 300px;
  color: blue;
}