<div class="container">
  <h2>{{ 'createNewPerson' | translate }}</h2>
  <form (ngSubmit)="onSubmit()" #personForm="ngForm" autocomplete="off">
    <div class ="form-group">
      <label for="personName">
        {{ 'name' | translate }} :
      </label>
      <input id="personName"  type="text" class="form-control"  required [(ngModel)]="person.name" name="personName"  #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
        class="alert alert-danger">
        {{ 'name' | translate }} {{ 'is required' | translate }}
      </div>
    </div>

    <div class ="form-group">
      <label for="personSurname1">
        {{ 'surname1' | translate }} :
      </label>
      <input id="personSurname1"  type="text" class="form-control"  required [(ngModel)]="person.surname1" name="personSurname1"  #surname1="ngModel">
      <div [hidden]="surname1.valid || surname1.pristine"
        class="alert alert-danger">
        {{ 'surname1' | translate }} {{ 'is required' | translate }}
      </div>
    </div>
    
    <div class ="form-group">
      <label for="personSurname2">
        {{ 'surname2' | translate }} :
      </label>
      <input id="personSurname2"  type="text" class="form-control"   [(ngModel)]="person.surname2" name="personSurname2"  #surname2="ngModel">
      <div [hidden]="surname2.valid || surname2.pristine"
        class="alert alert-danger">
        {{ 'surname2' | translate }} {{ 'is optional' | translate }} 
      </div>
    </div>

    <div class ="form-group">
      <label for="personGender">
        {{ 'gender' | translate }} :
      </label>
      <input id="personGender"  type="text" class="form-control"  required [(ngModel)]="person.gender" name="personGender"  #gender="ngModel">
      <div [hidden]="gender.valid || gender.pristine"
        class="alert alert-danger">
        {{ 'gender' | translate }} {{ 'is required' | translate }}
      </div>
    </div>

    <div class ="form-group">
      <label for="personbirthDate">
        {{ 'birthDate' | translate }} :
      </label>
      <input id="personbirthDate"  type="text" class="form-control"  required [(ngModel)]="person.birthDate" name="personbirthDate"  #birthDate="ngModel">
      <div [hidden]="birthDate.valid || birthDate.pristine"
        class="alert alert-danger">
        {{ 'birthDate' | translate }} {{ 'is required' | translate }}
      </div>
    </div>

    <div class ="form-group">
      <label for="personNIF">
        {{ 'nif' | translate }}  :
      </label>
      <input id="personNIF"  type="text" class="form-control"  required [(ngModel)]="person.nif" name="personNIF"  #nif="ngModel">
      <div [hidden]="nif.valid || nif.pristine"
        class="alert alert-danger">
        {{ 'nif' | translate }} {{ 'is required' | translate }}
      </div>
    </div>  

    <div class ="form-group"> 
      <label for="personLenguage">
        {{ 'lenguage' | translate }} : 
      </label>
      <input id="personLenguage"  type="text" class="form-control"  required [(ngModel)]="person.lenguage" name="personLenguage"  #lenguage="ngModel">
      <div [hidden]="lenguage.valid || lenguage.pristine"
        class="alert alert-danger">
        {{ 'lenguage' | translate }} {{ 'is required' | translate }}
      </div>
    </div>

    <div class ="form-group">
      <label for="CreationDate">
        {{ 'creationDate' | translate }} :
      </label>
      <input id="CreationDate"  type="text" class="form-control"  required [(ngModel)]="person.creationDate" name="CreationDate"  #creationDate="ngModel">
      <div [hidden]="creationDate.valid || creationDate.pristine"
        class="alert alert-danger">
        {{ 'creationDate' | translate }} {{ 'is required' | translate }}
      </div>
    </div>
  
    <button type="submit" class="btn btn-success" [disabled]="!personForm.form.valid">
      {{ 'save' | translate }}
    </button>
  </form>
</div>
  
