<div class="translate">
  <button class="translate_button" (click)="useEnglish('en')">English</button>
  <button class="translate_button" (click)="useSpanish('es')">Español</button>
</div>
<h1>{{ 'app.copmponent.title' | translate }}</h1> 
<nav> 
  <a routerLink="/dashboard">{{ 'dashboard' | translate }}</a>
  <a routerLink="/heroes">{{ 'heroes' | translate }}</a>
  <a routerLink="/people">{{ 'people' | translate }}</a>
  <a routerLink="/calculator">{{ 'calculator' | translate }}</a>
</nav>
<hr>
<router-outlet></router-outlet>
<app-messages></app-messages>
