.p-dropdown {
    border: 1px solid red;
  } 

  .p-dropdown:not(.p-disabled):hover {
    border-color: red;
  }
  .p-dropdown:not(.p-disabled).p-focus {
    border-color: red;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: red;
    background: #EEF2FF;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    color: red;
    background: #e9ecef;
  }

  .p-inputtext,
  .p-dropdown .p-dropdown-clear-icon,
  .p-dropdown .p-dropdown-trigger {
    color: red;
  }